<div class="header-nav-wrapper">
    <ul class="nav">
        <!-- Loop through the navigation items -->
        <li class="nav-home nav-current">
            <a href="{{@site.url}}/ru">Главная</a>
        </li>
        <li class="nav-author">
            <a href="/ru-author/">Мой Путь</a>
        </li>
        <li class="nav-contact">
            <a href="/ru-contact/">Контакт</a>
        </li>
        <li class="nav-about">
            <a href="/ru-products/">Товары</a>
        </li>
        <li class="nav-about">
            <a href="/cbd-ru/">CBD</a>
        </li>
            <!-- End the loop -->
    </ul>
</div>