<div class="header-nav-wrapper">
    <ul class="nav">
        <!-- Loop through the navigation items -->
        <li class="nav-home nav-current">
            <a href="{{@site.url}}">Home</a>
        </li>
        <li class="nav-author">
            <a href="/my-journey/">My Journey</a>
        </li>
        <li class="nav-contact">
            <a href="/contact/">Contact</a>
        </li>
        <li class="nav-about">
            <a href="/products/">Products</a>
        </li>
        <li class="nav-about">
            <a href="/cbd/">CBD</a>
        </li>
            <!-- End the loop -->
    </ul>
</div>