{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="author-wrapper">
        <h1 class="author-heading">
            Ilona Aronov
        </h1>
        <div class="author-description-wrapper">
            <div class="author-image-wrapper">
                <img src="{{@custom.author_image}}" alt="author-photo">
            </div> 
            <div class="author-desctiption">
                <p class="author-description-text">
                    For more than 38 years I have been practicing naturopathy and have gone from a skin care nurse, a homeopath, to a nutritionist in oriental medicine for cleansing, detoxifying and deworming the body.
                </p>
                <p class="author-description-text">
                    I consider it my mission to teach the methodology and practice of a healthy lifestyle and proper natural nutrition, so that each person can independently solve problems with their health and learn how to maintain the body in an excellent state of body and spirit.
                </p>
                <p class="author-description-text">
                    My areas of activity are parasitology, gastroenterology, allergology, immunology, some areas of cardiology, pulmonology, and oncology.
                </p>
                <p class="author-description-text">
                    I practice the concept of the integrity of the human body and its unity with the environment, natural nutrition, drug-free prevention and treatment of diseases, which maximally corresponds to the physiology of the body, providing it with all the necessary elements, in a balanced way, taking into account individual characteristics, correct to the psyche (without prohibitions, self-violence and breakdowns). The result of this approach is health and beauty.
                </p>
            </div>
        </div>
        <div class="author-desctiption full-description">
            <p class="author-description-text">
                We eat from birth, every day and more than once, so nutritional errors are obscured by everyday life, become something taken for granted, they are difficult to notice. Mistakes do not arise from stupidity, but because no one taught us how to eat. They taught mathematics, Russian, but not how best to nourish the body in order to be in harmony with Nature and in balance with Her laws.
            </p>
            <p class="author-description-text">
                This site is informative and practical, which my patients have asked for as a data library. Due to the limit of employment, I will not be able to personally correspond and give answers. But those who have been treated by me can always come and get the information and advice they need. I will add to this library everything that I consider useful for the health of my patients and in general for everyone.
            </p>
            <p class="author-description-text description-footer">
                Be healthy, wise, kind, and happy!
            </p>
        </div>
    </div>
</main>